@import url('https://fonts.googleapis.com/css2?family=Literata:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,300;1,500&display=swap');

.App {
  min-height: 100vh;
  background-color: rgb(238, 232, 232);
  margin: 5px;
}

.mybody {
  /* display: flex; */
  gap: 3em;
  padding: 1em;
}



.list-students {
  text-align: center;
  margin-top: 25px;
  /* flex: 1 */
}

ul {
  list-style-type: none;
  margin: auto;
  width: 60%;
}


form {
  flex-direction: column;
  align-items: center;
  /* text-align: left; */
  margin-top: 3em;
  /* flex: 1; */

}

input[type=text], input[type=url], textarea {
  display: inline-block;
  margin-top: -10px;
  width: 100%;
  font-size: 15px;
  border-radius: 2px;
  border: 3px solid #f198eb
}

.form-students{
  margin: auto;
  width: 40%;
  font-family: 'Literata', serif;
}
/* button.btn.btn-primary {
  margin-top: 25px;
} */


.form-label {
  margin-bottom: 0 !important;
  margin-top: 0.5em;
}

.form-check {
  margin-top: 1em;
}

.card-body {
  margin-left: 2em;
  margin-right: 2em;
}

#submit {
  margin-top: 5%;
  margin-bottom: 7%;
}

#pageImage{
  margin: auto;
  text-align: center;
  max-width: 25%;
  padding-top: 5%;
  padding-bottom: 5%;
}

h1{
  text-align: center;
  padding-top: 3%;
  font-family: 'Literata', serif;
  color: F3435C;
}


.expandContentDiv{
  margin: auto;
  text-align: center;
}

#bodyText{
  white-space: pre-wrap;
  padding-left: 15%;
  padding-right: 15%;
  text-align: left;
}

h3{
  margin: auto;
  text-align: center;
  padding-top: 7%;
  font-family: 'Literata', serif;
}


